body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: small;
  padding-left: 300px;
  padding-right: 300px;
  color: rgb(144, 163, 247);
  text-align: left;
  word-wrap: break-word;
}

#Pokemon {
  color: yellow;
}

textarea {
  width: 600px;
  height: 400px;
}